0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [12]:
from palmerpenguins import load_penguins
penguins = load_penguins()
penguins.head()

  species     island  bill_length_mm  ...  body_mass_g     sex  year
0  Adelie  Torgersen            39.1  ...       3750.0    male  2007
1  Adelie  Torgersen            39.5  ...       3800.0  female  2007
2  Adelie  Torgersen            40.3  ...       3250.0  female  2007
3  Adelie  Torgersen             NaN  ...          NaN     NaN  2007
4  Adelie  Torgersen            36.7  ...       3450.0  female  2007

[5 rows x 8 columns]

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Other": Any penguins that do not fall into any of the categories.

In [20]:
def names(sex, bill_length, bill_depth, flip_length, body, species):
    if sex == 'male' and bill_length*bill_depth > 800:
        x = "Big Mouth Billy"
        return x
    elif sex == 'female' and flip_length < (0.05 * body):
        x = "Dainty Daisy"
        return x
    elif species == "Adelie":
        x = "Average Adelie"
        return x
    else:
       x = "Other"
       return x 
            

penguins.apply(lambda x: names(x['sex'], x['bill_length_mm'], x['bill_depth_mm'], x['flipper_length_mm'], x['body_mass_g'], x['species']), axis=1)

0       Average Adelie
1         Dainty Daisy
2       Average Adelie
3       Average Adelie
4       Average Adelie
            ...
339    Big Mouth Billy
340              Other
341    Big Mouth Billy
342    Big Mouth Billy
343              Other
Length: 344, dtype: object

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

In [21]:
penguins['category_name'] = penguins.apply(lambda x: names(x['sex'], x['bill_length_mm'], x['bill_depth_mm'], x['flipper_length_mm'], x['body_mass_g'], x['species']), axis=1)

3. Run the following code to find the counts for each type.

In [22]:
penguins.value_counts("category_name")

category_name
Average Adelie     127
Other               84
Big Mouth Billy     71
Dainty Daisy        62
Name: count, dtype: int64