In [ ]:
#pip install palmerpenguins

Collecting palmerpenguinsNote: you may need to restart the kernel to use updated packages.

  Downloading palmerpenguins-0.1.4-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: pandas in c:\users\eddie\anaconda3\lib\site-packages (from palmerpenguins) (2.2.3)
Requirement already satisfied: numpy in c:\users\eddie\anaconda3\lib\site-packages (from palmerpenguins) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eddie\appdata\local\programs\positron\resources\app\extensions\positron-python\python_files\lib\ipykernel\py3 (from pandas->palmerpenguins) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eddie\anaconda3\lib\site-packages (from pandas->palmerpenguins) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eddie\anaconda3\lib\site-packages (from pandas->palmerpenguins) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\eddie\appdata\local\programs\positron\resources\app\extensions\positron-python\python_files\lib\ipykernel\py3 (from python-dateutil>=2.8.2->pandas->palmerpenguins) (1.17.0)
Downloading palmerpenguins-0.1.4-py3-none-any.whl (17 kB)
Installing collected packages: palmerpenguins
Successfully installed palmerpenguins-0.1.4

In [3]:
import numpy as np
import pandas as pd
from sys import exit
from palmerpenguins import load_penguins
from plotnine import ggplot, aes, geom_point, geom_bar

1. Fill in the necessary code to write a function called `times_seven()`. The function should take a single argument (`x`) and multiply the input by 7.
  + This function should check that the argument is numeric.
  + This function should also excitedly announce (print) *“I love sevens!”* if the argument to the function is a 7.

In [9]:
def times_seven(x):

  if not isinstance(x, (int, float)):
    exit("Please enter numeric value")

  if isinstance(x, (int, float)):
    print("I love sevens!")

  return x * 7

2. Write and run some *unit tests* for your `times_seven` function.  What happens if the input to the function is `[1, 3, 5, 7]`?

In [13]:
times_seven(4)

I love sevens!

28

In [14]:
times_seven("tree sap")

SystemExit: Please enter numeric value

3. Consider the following function:

In [16]:
def add_or_subtract(first_num, second_num = 2, type = "add"):

  if (type == "add"):
    res = first_num + second_num
  elif (type == "subtract"):
    res = first_num - second_num
  else:
    exit("Please choose `add` or `subtract` as the type.")

    return res

**Without running the code**, predict if the following will produce:

a. 1

b. -1

c. 30

d. An error defined by the function `add_or_subtract()`

e. An error defined in a different function, which is called inside the `add_or_subtract()` function

In [17]:
add_or_subtract(5, 6, type = "subtract")

add_or_subtract("orange")

add_or_subtract(5, 6, type = "multiply")

TypeError: can only concatenate str (not "int") to str

I believe the first one will result in b, -1. 
The second will result in d.
The third will result in e.

4. Consider the following code:

In [ ]:
first_num  = 5
second_num = 3

result = 8

result = add_or_subtract(first_num, second_num = 4)

result_2 = add_or_subtract(first_num)


In your Global Environment, what is the value of...

a. `first_num`

b. `second_num`

c. `result`

d. `result_2`

The value of first_num is 5, second num is 3, result is 8, result_2 is 9.